flangchain==0.0.352
flask==2.0.1
pandas==1.3.3
numpy==1.21.2
scikit-learn==0.24.2
requests==2.26.0
python-dotenv==0.19.0
flask-cors==3.0.10
gunicorn==20.1.0
psycopg2-binary==2.9.1